@import './../../shared.scss';
.Page{
  &.home{
    .jobs{
      text-align: left;
      display: block;
      width: 100%;
      .logo,
      .job-link{
        font-size: $fontSize;
        font-weight: 100;
        vertical-align: top;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        margin-right: 0.5em;
        .word{
          display: inline-block;
          // outline: 1px solid red;
        }
      }
      .logo{
        height: auto;
        line-height: 10vh;
        cursor: pointer;
      }
    }
    .tooltip{
      position: absolute;
      bottom: 0;
      line-height: 0.6em;
    }
  }
  &.about{
    .contact{
      position: absolute;
      bottom: 0;
    }
  } 
  .Button{
    &.close{
      position: absolute;
      right: 0;
      bottom: 30vh;
    }
  }
}

@media screen and (max-width: 500px) {
  .Page{
    &.home{
      .jobs{
        .logo,
        .job-link{
          font-size: 6vh;
        }
      }
    }
    .Button{
      &.close{
        bottom: 20vh;
      }
    }
  }
}