@import './../../shared.scss';
.Page {
  &.home {
    .jobs {
      text-align: left;
      display: block;
      width: 100%;
      position: relative;
      .hitarea {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      .logo,
      .job-link {
        font-size: 10vh;
        font-weight: 100;
        vertical-align: top;
        text-decoration: none;
        display: inline-block;
        margin-right: 0.5em;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        z-index: 1;
        font-weight: 500;
        font-family: ahamono;
        padding: 0;
        height: 1.66em;
        outline: 0;
        .marquee-hover {
          position: absolute;
          opacity: 0;
          left: 0;
          top: 0;
        }
        &:hover {
          .job-marquee {
            opacity: 0;
          }
        }
        @keyframes marqueeAnimation {
          0% {
            left: 100%;
          }
          100% {
            left: -100%;
          }
        }
        .job-marquee {
          display: inline-block;
          overflow: hidden;
          .text {
            display: block;
            position: relative;
            left: -50%;
            left: 100%;
            animation-name: marqueeAnimation;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
        }
        &:hover {
          .marquee-hover {
            opacity: 1;
          }
          marquee {
            transform: translateY(-100%);
          }
        }
      }
      .logo {
        height: 1.66em;
        line-height: 10vh;
        pointer-events: none;
      }
    }
    .tooltip {
      position: absolute;
      bottom: 0;
      line-height: 0.6em;
    }
  }
  &.about {
    .Portrait {
      position: absolute;
      left: 50%;
      top: 50%;
      height: 83vh;
      z-index: 0;
      transform: translate3d(-50%, -50%, 0);
      transition: opacity .5s ease;
      &.hide {
        opacity: 0;
      }
      &:hover {
        z-index: 1;
      }
    }
    .Link {
      position: absolute;
      bottom: 0;
      left: 0;
      line-height: 6vh;
    }
    .description {
      width: 75vw;
      position: relative;
      pointer-events: none;
    }
  }
  &.easterEgg {
    overflow: auto;
    height: 100vh;
    .instructions {
      width: 50vw;
      display: block;
      margin-bottom: 5vh;
    }
    .tutorial {
      width: 70vw;
      margin-top: 28vh;
    }
  }
  .Button {
    &.close {
      position: absolute;
      right: 0;
      bottom: 0;
      line-height: 6vh;
    }
  }
}

@keyframes marquee {
  0% {
    left: 100vw;
    transform: translateX(0);
  }
  100% {
    left: 0vw;
    transform: translateX(-110%);
  }
}

/* portrait */

@media screen and (orientation:portrait) {
  .App {
    &.isMobile {
      .Page {
        &.home {
          .jobs {
            .logo,
            .job-link {
              font-size: 5vh;
              line-height: 1.2em;
              display: block;
              span {
                pointer-events: none;
              }
            }
          }
        }
        &.about {
          .Portrait {
            width: 70vw;
            height: auto;
            &:hover {
              z-index: 0;
            }
          }
          .contact {
            bottom: 0;
            line-height: 4vh;
          }
          .Marquee {
            margin-top: 5vh;
          }
        }
        .Button {
          &.close {
            position: absolute;
            right: 0;
            bottom: 0;
            line-height: 5vh;
          }
        }
      }
    }
  }
}

/* landscape */

@media screen and (orientation:landscape) {
  .App {
    &.isMobile {
      .Page {
        &.home {
          .jobs {
            .logo,
            .job-link {
              font-size: 5vw;
              line-height: 5vw;
            }
          }
        }
        &.about {
          .contact {
            bottom: 0;
            line-height: 4vh;
          }
          .Marquee {
            margin-top: 10vh;
          }
          .Link {
            margin-top: 5vh;
          }
        }
        .Button {
          &.close {
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }
      }
    }
  }
}