.Cursor{
  position: fixed;
  left: 50%;
  top: 50%;
  pointer-events: none;
  transform: translate3d(-50%,-50%,0);
  z-index: 0;
  span{
    font-size: 10vh;
    transition: none;
    backface-visibility: hidden;
    transition: transform .2s ease;
  }
}
.App{
  &.isMobile{
    .Cursor{
      display: none;
    }
  }
}