.Cursor{
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate3d(-50%,-50%,0);
  z-index: 0;
  &.bigger{
    span{
      font-size: 1000vh;
      transition: font-size 1.5s ease;
    }
    &.triangle{
      span{
        font-size: 1000vh;
      }
    }
  }
  &.triangle{
    span{
      font-size: 5vh;
    }
  }
  span{
    font-size: 10vh;
    transition: transform .2s ease;
  }
}