.home {
  font-size: 5vh;
  line-height: 2.4em;
  .jobs{
    font-size: 0;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    text-align: left;
    &.hovered-over{
      .job-link{
        color: #000;
        &.active{
          color: #fff;
        }
      }
    }
    .job-link{
      font-size: 12vh;
      margin-right: 5vh;
      font-weight: 100;
      vertical-align: top;
      color: #fff;
      text-decoration: none;
      display: flex;
    }
    .logo{
      display: flex;
      z-index: 3;
      margin-right: 4vh;
      font-size: 12vh;
      span{
        display: inline-block;
        width: 0;
        overflow: hidden;
        vertical-align: top;
      }
      &:hover{
        span{
          width: auto;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .home{
    font-size: 5vh;
    line-height: 1.2em;
    .jobs{
      .logo{
        font-size: 5vh;
      }
      .job-link{
        font-size: 5vh;
        vertical-align: middle;
      }
    }
  }
}