$red: #ff0028;

@import url("//hello.myfonts.net/count/354675");

@font-face {
  font-family: 'ahamono';
  src: url("../../assets/fonts/ahamono.eot");
  src: url("../../assets/fonts/ahamono.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/ahamono.woff2") format("woff2"), url("../../assets/fonts/ahamono.woff") format("woff"), url("../../assets/fonts/ahamono.ttf") format("truetype"), url("../../assets/fonts/ahamono.svg#wf") format("svg");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Lato');

$default-size: 10vh;
$small-size: 40px;


* {
  margin: 0;
  padding: 0;
  cursor: none !important;
  &::-moz-selection {
    background:rgba(0, 0, 0, 0.99);
    color:#fff;
  }
  &::-webkit-selection {
    background:rgba(0, 0, 0, 0.99);
    color:#fff;
}
  &::selection {
    background:rgba(0, 0, 0, 0.99);
    color:#fff;
  }
}
a{
  color: inherit;
  text-decoration: none;
}
button {
  border: 0;
  background: transparent;
}

body.App {
  font-family: 'ahamono';
  background-color: #fff;
  font-size: $default-size;
  line-height: 1em; 
  &.black {
    background-color: #000;
  }
  &.blockScroll {
    overflow: hidden;
    height: 100vh;
  }
}

.page{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  box-sizing: border-box;
  pointer-events: none;
  opacity: 0;
  z-index: 2;
  display: block;
  &.show{
    pointer-events: all;
    opacity: 1;
  }
}

.gamepad-message{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%,-50%,0);
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  height: 75vh;
}

.subtitle{
  position: fixed;
  bottom: 0;
  left: 1rem;
  font-size: inherit;
  z-index: 3;
  font-weight: 100;
  color: #fff;
}

.marquee {
  display: block;
  position: relative;
  left: 100%;
  animation-name: marqueeAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.menu{
  position: fixed;
  left: 1rem;
  bottom: 0;
  font-size: inherit;
  font-weight: 100;
  z-index: 3;
  display: none;
  &.show{
    display: block;
  }
  span{
    vertical-align: top;
  }
  &:hover{
    span{
      display: none;
    }
    .icons{
      display: inline-block;
    }
  }
  .icons{
    height: $default-size;
    display: none;
    font-size: 0;
    img{
      vertical-align: top;
      margin-right: 1rem;
      height: 7vh;
    }
  }
}

.cursor{
  position: fixed;
  left: 0;
  top: 0;
  font-size: inherit;
  font-weight: 100;
  transform: translate3d(-50%,-50%,0);
  transition: transform .4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  backface-visibility: hidden;
  z-index: 5;
  pointer-events: none;
  &.white{
    color: white;
  }
  &.rotate{
    transform: translate3d(-50%,-50%,0) rotate(135deg);
  }
}

.nav{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 0;
  color: #fff;
  &.hideLinks{
    .close{
      display: none;
    }
    .nav-list{
      .nav-item{
        display: none;
      }
    }
  }
  .icon-wrapper{
    position: fixed;
    backface-visibility: hidden;
    opacity: 0;
    &.active{
      opacity: 1;
    }
    &.animate{
      transition: left 1s ease, top 1s ease, transform 1s ease;
      .icon{
        transition: all 1s ease;
      }
    }
    .icon{
      position: absolute;
      left: 50%;
      top: 50%;
      height: 10vh;
      transform: translate3d(-50%,-50%,0);
    }
  }

  &.show{
    display: block;
  }
  .close{
    position: absolute;
    left: 1rem;
    top: 1rem;
    font-size: inherit;
    font-weight: 100;
  }
  .nav-list{
    font-size: 0;
    height: $default-size;
    width: 100vw;
    position: absolute;
    bottom: 1rem;
    left: 0;
    .nav-item{
      font-size: $default-size;
      width: 33.33%;
      text-align: center;
      display: inline-block;
      box-sizing: border-box;
      .link{
        cursor: pointer;
        position: relative;
        &.active{
          opacity: 0;
        }
      }
      &:first-child{
        text-align: left;
        padding-left: 1rem;
      }
      &:last-child{
        text-align: right;
        padding-right: 1rem;
      }
    }
  }
}

.canvas-wrapper {
	position: absolute;
	overflow: hidden;
  top: 50%;
  left: 50%;
	width: 100vw;
  height: 100vh;
  transform: translate3d(-50%,-50%,0);
  z-index: 0;
  
  canvas {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
}

@keyframes marqueeAnimation {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@media only screen and (max-width: 600px) {
  body.App{
    font-size: $small-size;
    .cursor{
      display: none;
    }
    .menu{
      font-size: inherit;
      &:hover{
        span{
          display: block;
        }
        .icons{
          display: none;
        }
      }
    }
    .nav{
      .nav-list{
        height: auto;
        .nav-item{
          display: block;
          padding-left: 1rem;
          .link{
            font-size: $small-size;
            display: block;
            &.active {
              opacity: 1;
            }
          }
        }
      }
    }
    .subtitle{
      display: block;
      bottom: 3vh;
    }
    .menu{
      bottom: 5vh;
    }
  }
}

@import '_home';
@import '_about';
@import '_awards';
@import '_services';