$red: #ff0028;

@import url("//hello.myfonts.net/count/354675");

@font-face {
  font-family: 'ahamono';
  src: url("../../assets/fonts/ahamono.eot");
  src: url("../../assets/fonts/ahamono.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/ahamono.woff2") format("woff2"), url("../../assets/fonts/ahamono.woff") format("woff"), url("../../assets/fonts/ahamono.ttf") format("truetype"), url("../../assets/fonts/ahamono.svg#wf") format("svg");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Lato');

$default-size: 73px;
$small-size: 40px;


* {
  margin: 0;
  padding: 0;
  cursor: none;
  &::-moz-selection {
    background:rgba(0, 0, 0, 0.99);
    color:#fff;
  }
  &::-webkit-selection {
    background:rgba(0, 0, 0, 0.99);
    color:#fff;
}
  &::selection {
    background:rgba(0, 0, 0, 0.99);
    color:#fff;
  }
}
a{
  color: inherit;
  text-decoration: none;
}
button {
  border: 0;
  background: transparent;
}

body.App {
  font-family: 'ahamono';
  background-color: #fff;
  font-size: $default-size;
  line-height: 1.2em; 
  &.black {
    background-color: #000;
  }
  &.blockScroll {
    overflow: hidden;
    height: 100vh;
  }
}

.page{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 0;
  background-color: #fff;
  box-sizing: border-box;
  transition: background-color .5s ease;
  &.show{
     display: block;
  }
  &.black{
    background-color: #000;
  }
}

.subtitle{
  position: fixed;
  bottom: 10vh;
  left: 1rem;
  font-size: inherit;
  z-index: 2;
  font-weight: 100;
  color: #fff;
}

.marquee {
  display: block;
  position: relative;
  left: 100%;
  animation-name: marqueeAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.menu{
  position: fixed;
  left: 1rem;
  bottom: 0;
  font-size: inherit;
  font-weight: 100;
  z-index: 1;
  display: none;
  &.show{
    display: block;
  }
}

.cursor{
  position: fixed;
  left: 0;
  top: 0;
  font-size: inherit;
  font-weight: 100;
  transform: translate3d(-50%,-50%,0);
  transition: transform .2s ease;
  backface-visibility: hidden;
  z-index: 5;
  pointer-events: none;
  &.white{
    color: white;
  }
  &.rotate{
    transform: translate3d(-50%,-50%,0) rotate(45deg);
  }
}

.nav{
  position: fixed;
  left: 0;
  top: 0;
  height: inherit;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: none;
  z-index: 2;
  color: #fff;
  &.show{
    display: block;
  }
  .close{
    position: absolute;
    left: 1rem;
    top: 1rem;
    font-size: inherit;
    font-weight: 100;
  }
  .nav-list{
    font-size: 0;
    height: $default-size;
    width: 100vw;
    position: absolute;
    bottom: 1rem;
    left: 0;
    .nav-item{
      font-size: $default-size;
      width: 33.33%;
      text-align: center;
      display: inline-block;
      box-sizing: border-box;
      .link{
        cursor: pointer;
      }
      &:first-child{
        text-align: left;
        padding-left: 1rem;
      }
      &:last-child{
        text-align: right;
        padding-right: 1rem;
      }
    }
  }
}

@keyframes marqueeAnimation {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@media only screen and (max-width: 600px) {
  body.App{
    font-size: $small-size;
    .cursor{
      display: none;
    }
    .menu{
      font-size: inherit;
    }
    .nav{
      .nav-list{
        height: auto;
        .nav-item{
          display: block;
          padding-left: 1rem;
          .link{
            font-size: $small-size;
            display: block;
          }
        }
      }
    }
    .subtitle{
      display: block;
    }
    .menu{
      bottom: 5vh;
    }
  }
}

@import '_home';
@import '_about';
@import '_awards';
@import '_services';