@import './../../shared.scss';

.Nav {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  vertical-align: top;
  .nav-wrapper {
    list-style-type: none;
    display: flex;
    .nav-item {
      flex: 1;
      flex-direction: row;
      cursor: pointer;
      .link {
        text-decoration: none;
        color: #fff;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}


@media screen and (max-width: 500px) {
  .Nav{
    .nav-wrapper {
      display: block;
      .nav-item {
        display: block;
        &:last-child {
          text-align: left;
        }
      }
    }  
  }
}