@import './../../shared.scss';

.Nav {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  vertical-align: top;
  .nav-wrapper {
    list-style-type: none;
    display: flex;
    .nav-item {
      flex: 1;
      flex-direction: row;
      color: $mainColor;
      font-size: $fontSize;
      cursor: pointer;
      .link {
        text-decoration: none;
        color: #fff;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}