@import './../../shared.scss';

.Nav {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -3vh;
  vertical-align: top;
  padding: 3vh 0;
  box-sizing: border-box;
  .nav-wrapper {
    list-style-type: none;
    display: flex;
    .nav-item {
      flex: 1;
      flex-direction: row;
      cursor: pointer;
      line-height: 0.6em;
      .link {
        text-decoration: none;
        color: #fff;
      }
      span{
        pointer-events: none;
      }
      &:hover {
        opacity: 0;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}


@media screen and (max-width: 500px) {
  .Nav{
    .nav-wrapper {
      display: block;
      .nav-item {
        display: block;
        // outline: 1px solid red;
        line-height: 5vh;
        &:hover {
          opacity: 1;
        }
        &:last-child {
          text-align: left;
        }
      }
    }  
  }
}